<nav class="bg-gray-800 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-xl font-bold">Recipe Manager</a>
    <div class="space-x-4">
      <ng-container *ngIf="authService.isLoggedIn(); else loggedOut">
        <a routerLink="/recipes" class="hover:underline">Recipes</a>
        <a routerLink="/favorites" class="hover:underline">Favorites</a>
        <a routerLink="/dashboard" class="hover:underline">Dashboard</a>
        <a
          *ngIf="authService.isAdmin()"
          routerLink="/recipes/add"
          class="hover:underline"
          >Add Recipe</a
        >
        <span class="text-gray-300"
          >Role: {{ authService.currentRole$ | async }}</span
        >
        <button (click)="logout()" class="hover:underline">Logout</button>
      </ng-container>
      <ng-template #loggedOut>
        <a routerLink="/login" class="hover:underline">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
